<div class="container">

  <filter-header [compName]="headingOfPage" (changeEvent)="selectedItem"
    (changeInput)="getText($event)"></filter-header>




  <div class="container-fluid">

    <h2 class="mb-4">Warehouse Analytics Dashboard</h2>

    <!-- Cards -->
    <div class="row g-3 mb-4">
      @defer (when isChartsInitialized()) {
      <div class="col-xl col-md-4 col-sm-6" *ngFor="let card of [
      { label: 'Total Warehouses', value: totalWarehouses },
      { label: 'Active Warehouses', value: activeWarehouses },
      { label: 'Total Capacity', value: totalCapacity },
      { label: 'Total Stock', value: totalStock },
      { label: 'Utilization', value: utilization + '%' }
    ]">
        <div class="card text-center h-100">
          <div class="card-body">
            <p class="text-muted mb-1">{{ card.label }}</p>
            <h4>{{ card.value }}</h4>
          </div>
        </div>
      </div>
      }
      @placeholder {
      <div class="text-center my-5">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">isLoading...</span>
        </div>
      </div>
      }
      @loading (after 100ms; minimum 1s) {
      <!-- Content displayed while the bundle for the deferred content is being fetched -->
      <div class="loader">Loading...</div>
      }
      @error {
      <!-- Content displayed if an error occurs during loading -->
      <p>Oops! Failed to load data.</p>
      }

    </div>

    <!-- Charts -->
    <div class="row g-4">
      <div class="col-lg-8 col-12">
        <div class="card h-100">
          <div class="card-body">
            <h6 class="mb-3">Capacity vs Current Stock</h6>
            <div class="chart-wrapper">
              <canvas #capacityChart id="capacityChart"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-12">
        <div class="card h-100">
          <div class="card-body">
            <h6 class="mb-3 text-center">Warehouse Status</h6>
            <div class="chart-wrapper">
              <canvas #statusChart id="statusChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="charts">
    <canvas id="capacityChart"></canvas>
    <canvas id="statusChart"></canvas>
  </div>

</div>
